# MC EDA Drafting

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
# Load
train = pd.read_csv("/Users/kenziecarter/Desktop/Of Genomes/train.csv")
train.head(5)

,Patient Id,Patient Age,Genes in mother's side,Inherited from father,Maternal gene,Paternal gene,Blood cell count (mcL),Patient First Name,Family Name,Father's name,...,Birth defects,White Blood cell count (thousand per microliter),Blood test result,Symptom 1,Symptom 2,Symptom 3,Symptom 4,Symptom 5,Genetic Disorder,Disorder Subclass
0,PID0x6418,2.0,Yes,No,Yes,No,4.760603,Richard,NaN,Larre,...,NaN,9.857562,NaN,1.0,1.0,1.0,1.0,1.0,Mitochondrial genetic inheritance disorders,Leber's hereditary optic neuropathy
1,PID0x25d5,4.0,Yes,Yes,No,No,4.910669,Mike,NaN,Brycen,...,Multiple,5.522560,normal,1.0,NaN,1.0,1.0,0.0,NaN,Cystic fibrosis
2,PID0x4a82,6.0,Yes,No,No,No,4.893297,Kimberly,NaN,Nashon,...,Singular,NaN,normal,0.0,1.0,1.0,1.0,1.0,Multifactorial genetic inheritance disorders,Diabetes
3,PID0x4ac8,12.0,Yes,No,Yes,No,4.705280,Jeffery,Hoelscher,Aayaan,...,Singular,7.919321,inconclusive,0.0,0.0,1.0,0.0,0.0,Mitochondrial genetic inheritance disorders,Leigh syndrome
4,PID0x1bf7,11.0,Yes,No,NaN,Yes,4.720703,Johanna,Stutzman,Suave,...,Multiple,4.098210,NaN,0.0,0.0,0.0,0.0,NaN,Multifactorial genetic inheritance disorders,Cancer

In [17]:
train.columns

Index(['Patient Id', 'Patient Age', 'Genes in mother's side',
       'Inherited from father', 'Maternal gene', 'Paternal gene',
       'Blood cell count (mcL)', 'Patient First Name', 'Family Name',
       'Father's name', 'Mother's age', 'Father's age', 'Institute Name',
       'Location of Institute', 'Status', 'Respiratory Rate (breaths/min)',
       'Heart Rate (rates/min', 'Test 1', 'Test 2', 'Test 3', 'Test 4',
       'Test 5', 'Parental consent', 'Follow-up', 'Gender', 'Birth asphyxia',
       'Autopsy shows birth defect (if applicable)', 'Place of birth',
       'Folic acid details (peri-conceptional)',
       'H/O serious maternal illness', 'H/O radiation exposure (x-ray)',
       'H/O substance abuse', 'Assisted conception IVF/ART',
       'History of anomalies in previous pregnancies',
       'No. of previous abortion', 'Birth defects',
       'White Blood cell count (thousand per microliter)', 'Blood test result',
       'Symptom 1', 'Symptom 2', 'Symptom 3', 'Symptom 4', 'Symptom 5',
       'Genetic Disorder', 'Disorder Subclass'],
      dtype='object')

In [18]:
#Renaming Columns into standards

In [19]:
new_column_names = ["Patient_Id", 
                    "Patient_Age", 
                    "Inherited_from_mother", 
                    "Inherited_from_father", 
                    "Maternal_Gene",
                    "Paternal_Gene", 
                    "BCC_mcL", 
                    "Patient_First_Name", 
                    "Family_Name", 
                    "Father_Name", 
                    "Mother_Age",
                    "Father_Age", 
                    "Institute_Name", 
                    "Location_of_Institute", 
                    "Status", 
                    "Resp_Rate_BreathsPerMin",
                    "Heart_Rate_RatesPerMin", 
                    "Test_1", "Test_2", "Test_3", "Test_4", "Test_5", 
                    "Parental_Consent",
                    "Follow_Up", 
                    "Gender", 
                    "Birth_Asphyxia", 
                    "Autopsy_BD", 
                    "Place_Birth", 
                    "Folic_Acid_Details",
                    "Serious_Maternal_Illness", 
                    "Radiation_Exposure", 
                    "Substance_Abuse", 
                    "IVF_ART",
                    "History_Previous_Anomalies_Pregnancies", 
                    "Previous_Abortion", 
                    "Birth_Defects", 
                    "WBC",
                    "Blood_Test", 
                    "Symptom_1", "Symptom_2", "Symptom_3", "Symptom_4", "Symptom_5",
                    "Genetic_Disorder", 
                    "Disorder_Subclass"]


# Rename columns using the list
train.columns = new_column_names

In [20]:
# Shape, Info
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22083 entries, 0 to 22082
Data columns (total 45 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Patient_Id                              22083 non-null  object
 1   Patient_Age                             20656 non-null  float64
 2   Inherited_from_mother                   22083 non-null  object
 3   Inherited_from_father                   21777 non-null  object
 4   Maternal_Gene                           19273 non-null  object
 5   Paternal_Gene                           22083 non-null  object
 6   BCC_mcL                                 22083 non-null  float64
 7   Patient_First_Name                      22083 non-null  object
 8   Family_Name                             12392 non-null  object
 9   Father_Name                             22083 non-null  object
 10  Mother_Age                              16047 non-null  float64
 11  Father_Age                              16097 non-null  float64
 12  Institute_Name                          16977 non-null  object
 13  Location_of_Institute                   22083 non-null  object
 14  Status                                  22083 non-null  object
 15  Resp_Rate_BreathsPerMin                 19934 non-null  object
 16  Heart_Rate_RatesPerMin                  19970 non-null  object
 17  Test_1                                  19956 non-null  float64
 18  Test_2                                  19931 non-null  float64
 19  Test_3                                  19936 non-null  float64
 20  Test_4                                  19943 non-null  float64
 21  Test_5                                  19913 non-null  float64
 22  Parental_Consent                        19958 non-null  object
 23  Follow_Up                               19917 non-null  object
 24  Gender                                  19910 non-null  object
 25  Birth_Asphyxia                          19944 non-null  object
 26  Autopsy_BD                              17691 non-null  object
 27  Place_Birth                             19959 non-null  object
 28  Folic_Acid_Details                      19966 non-null  object
 29  Serious_Maternal_Illness                19931 non-null  object
 30  Radiation_Exposure                      19930 non-null  object
 31  Substance_Abuse                         19888 non-null  object
 32  IVF_ART                                 19961 non-null  object
 33  History_Previous_Anomalies_Pregnancies  19911 non-null  object
 34  Previous_Abortion                       19921 non-null  float64
 35  Birth_Defects                           19929 non-null  object
 36  WBC                                     19935 non-null  float64
 37  Blood_Test                              19938 non-null  object
 38  Symptom_1                               19928 non-null  float64
 39  Symptom_2                               19861 non-null  float64
 40  Symptom_3                               19982 non-null  float64
 41  Symptom_4                               19970 non-null  float64
 42  Symptom_5                               19930 non-null  float64
 43  Genetic_Disorder                        19937 non-null  object
 44  Disorder_Subclass                       19915 non-null  object
dtypes: float64(16), object(29)
memory usage: 7.6+ MB
None

We have a good amount of null values, with many categories that could be removed instead of worrying about filling NAs, such as Family Name, parent name etc. Lets decide on these over slack.

In [21]:
describe = train.describe()
describe

,Patient_Age,BCC_mcL,Mother_Age,Father_Age,Test_1,Test_2,Test_3,Test_4,Test_5,Previous_Abortion,WBC,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5
count,20656.000000,22083.000000,16047.000000,16097.000000,19956.0,19931.0,19936.0,19943.0,19913.0,19921.000000,19935.000000,19928.000000,19861.000000,19982.000000,19970.000000,19930.000000
mean,6.974148,4.898871,34.526454,41.972852,0.0,0.0,0.0,1.0,0.0,2.003062,7.486224,0.592483,0.551886,0.536233,0.497747,0.461917
std,4.319475,0.199663,9.852598,13.035501,0.0,0.0,0.0,0.0,0.0,1.411919,2.653393,0.491385,0.497313,0.498698,0.500007,0.498560
min,0.000000,4.092727,18.000000,20.000000,0.0,0.0,0.0,1.0,0.0,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,4.763109,26.000000,31.000000,0.0,0.0,0.0,1.0,0.0,1.000000,5.424703,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.000000,4.899399,35.000000,42.000000,0.0,0.0,0.0,1.0,0.0,2.000000,7.477132,1.000000,1.000000,1.000000,0.000000,0.000000
75%,11.000000,5.033830,43.000000,53.000000,0.0,0.0,0.0,1.0,0.0,3.000000,9.526152,1.000000,1.000000,1.000000,1.000000,1.000000
max,14.000000,5.609829,51.000000,64.000000,0.0,0.0,0.0,1.0,0.0,4.000000,12.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [22]:
#filling all NAN for now
print(train.isna().sum())

Patient_Id                                   0
Patient_Age                               1427
Inherited_from_mother                        0
Inherited_from_father                      306
Maternal_Gene                             2810
Paternal_Gene                                0
BCC_mcL                                      0
Patient_First_Name                           0
Family_Name                               9691
Father_Name                                  0
Mother_Age                                6036
Father_Age                                5986
Institute_Name                            5106
Location_of_Institute                        0
Status                                       0
Resp_Rate_BreathsPerMin                   2149
Heart_Rate_RatesPerMin                    2113
Test_1                                    2127
Test_2                                    2152
Test_3                                    2147
Test_4                                    2140
Test_5                                    2170
Parental_Consent                          2125
Follow_Up                                 2166
Gender                                    2173
Birth_Asphyxia                            2139
Autopsy_BD                                4392
Place_Birth                               2124
Folic_Acid_Details                        2117
Serious_Maternal_Illness                  2152
Radiation_Exposure                        2153
Substance_Abuse                           2195
IVF_ART                                   2122
History_Previous_Anomalies_Pregnancies    2172
Previous_Abortion                         2162
Birth_Defects                             2154
WBC                                       2148
Blood_Test                                2145
Symptom_1                                 2155
Symptom_2                                 2222
Symptom_3                                 2101
Symptom_4                                 2113
Symptom_5                                 2153
Genetic_Disorder                          2146
Disorder_Subclass                         2168
dtype: int64

In [23]:
#Numeric
numeric_columns = train.select_dtypes(include=[np.number]).columns
numeric_data = train[numeric_columns]
print("Numeric NAN Before Fill:\n")
print(numeric_data.isna().sum())

Numeric NAN Before Fill:

Patient_Age          1427
BCC_mcL                 0
Mother_Age           6036
Father_Age           5986
Test_1               2127
Test_2               2152
Test_3               2147
Test_4               2140
Test_5               2170
Previous_Abortion    2162
WBC                  2148
Symptom_1            2155
Symptom_2            2222
Symptom_3            2101
Symptom_4            2113
Symptom_5            2153
dtype: int64

In [24]:
medians = numeric_data.median()
numeric_data.fillna(medians, inplace=True)
print("Numeric NAN After Median Fill:\n")
print(numeric_data.isna().sum())

Numeric NAN After Median Fill:

Patient_Age          0
BCC_mcL              0
Mother_Age           0
Father_Age           0
Test_1               0
Test_2               0
Test_3               0
Test_4               0
Test_5               0
Previous_Abortion    0
WBC                  0
Symptom_1            0
Symptom_2            0
Symptom_3            0
Symptom_4            0
Symptom_5            0
dtype: int64

/var/folders/8n/jzdr4v456t72knh42snxrp0c0000gn/T/ipykernel_10058/1815956395.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numeric_data.fillna(medians, inplace=True)

In [25]:
train_numfill = train
train_numfill[numeric_columns] = numeric_data
print(train_numfill.isna().sum())

Patient_Id                                   0
Patient_Age                                  0
Inherited_from_mother                        0
Inherited_from_father                      306
Maternal_Gene                             2810
Paternal_Gene                                0
BCC_mcL                                      0
Patient_First_Name                           0
Family_Name                               9691
Father_Name                                  0
Mother_Age                                   0
Father_Age                                   0
Institute_Name                            5106
Location_of_Institute                        0
Status                                       0
Resp_Rate_BreathsPerMin                   2149
Heart_Rate_RatesPerMin                    2113
Test_1                                       0
Test_2                                       0
Test_3                                       0
Test_4                                       0
Test_5                                       0
Parental_Consent                          2125
Follow_Up                                 2166
Gender                                    2173
Birth_Asphyxia                            2139
Autopsy_BD                                4392
Place_Birth                               2124
Folic_Acid_Details                        2117
Serious_Maternal_Illness                  2152
Radiation_Exposure                        2153
Substance_Abuse                           2195
IVF_ART                                   2122
History_Previous_Anomalies_Pregnancies    2172
Previous_Abortion                            0
Birth_Defects                             2154
WBC                                          0
Blood_Test                                2145
Symptom_1                                    0
Symptom_2                                    0
Symptom_3                                    0
Symptom_4                                    0
Symptom_5                                    0
Genetic_Disorder                          2146
Disorder_Subclass                         2168
dtype: int64

In [26]:
#Yes/No Columns to Binary
# Only doing Yes/No here - some other columns have other responses beyond this.
columns_to_convert = ['Inherited_from_mother', 'Inherited_from_father', 'Maternal_Gene', 'Paternal_Gene', 'Parental_Consent', 'Serious_Maternal_Illness', 'IVF_ART', 'History_Previous_Anomalies_Pregnancies']

# Mapping 'yes' to 1 and 'no' to 0 for specified columns
for column in columns_to_convert:
    train_numfill[column] = train_numfill[column].map({'Yes': 1, 'No': 0})

In [27]:
train_numfill.head()

,Patient_Id,Patient_Age,Inherited_from_mother,Inherited_from_father,Maternal_Gene,Paternal_Gene,BCC_mcL,Patient_First_Name,Family_Name,Father_Name,...,Birth_Defects,WBC,Blood_Test,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Genetic_Disorder,Disorder_Subclass
0,PID0x6418,2.0,1,0.0,1.0,0,4.760603,Richard,NaN,Larre,...,NaN,9.857562,NaN,1.0,1.0,1.0,1.0,1.0,Mitochondrial genetic inheritance disorders,Leber's hereditary optic neuropathy
1,PID0x25d5,4.0,1,1.0,0.0,0,4.910669,Mike,NaN,Brycen,...,Multiple,5.522560,normal,1.0,1.0,1.0,1.0,0.0,NaN,Cystic fibrosis
2,PID0x4a82,6.0,1,0.0,0.0,0,4.893297,Kimberly,NaN,Nashon,...,Singular,7.477132,normal,0.0,1.0,1.0,1.0,1.0,Multifactorial genetic inheritance disorders,Diabetes
3,PID0x4ac8,12.0,1,0.0,1.0,0,4.705280,Jeffery,Hoelscher,Aayaan,...,Singular,7.919321,inconclusive,0.0,0.0,1.0,0.0,0.0,Mitochondrial genetic inheritance disorders,Leigh syndrome
4,PID0x1bf7,11.0,1,0.0,NaN,1,4.720703,Johanna,Stutzman,Suave,...,Multiple,4.098210,NaN,0.0,0.0,0.0,0.0,0.0,Multifactorial genetic inheritance disorders,Cancer

In [28]:
#from scipy.stats import skew
#skew = skew(train)
#print(skew)